<% layout('layout/boilerplate') %>

<div class="new-container">

    <div class="new-card">
        <h2 class="new-heading">Create a New Listing</h2>

        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

            <div class="form-group col-6">
                <label>Title</label>
                <input
                    type="text"
                    name="listing[title]"
                    placeholder="Enter listing title"
                    class="form-control"
                    required
                >
                <div class="valid-feedback">Title looks good</div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea
                    name="listing[description]"
                    placeholder="Describe your place..."
                    rows="4"
                    class="form-control"
                    required
                ></textarea>
                <div class="invalid-feedback">
                    Please Enter a Description
                </div>
            </div>

            <div class="form-group col-8">
                <label>Upload Listing image</label>
                <input
                    name="image"
                    placeholder="Paste image URL"
                    class="form-control"
                    type="file"
                    required
                >
                <div class="invalid-feedback">Please upload your listing image</div>
            </div>

            <div class="form-group col-6">
                <label>Price Per Night</label>
                <input
                    type="number"
                    name="listing[price]"
                    placeholder="₹ 2500"
                    class="form-control"
                    required
                >
                <div class="invalid-feedback">Price should be Valid</div>
            </div>

            <div class="form-group col-6">
                <label>Location</label>
                <input
                    type="text"
                    name="listing[location]"
                    placeholder="Mumbai"
                    class="form-control"
                    required
                >
                <div class="invalid-feedback">
                    Please Enter Location
                </div>
            </div>

            <div class="form-group col-6">
                <label>Country</label>
                <input
                    type="text"
                    name="listing[country]"
                    placeholder="India"
                    class="form-control"
                    required
                >
                <div class="invalid-feedback">
                    Please Enter your country
                </div>
            </div>

            <button class="create-btn">
                Create Listing
            </button>

        </form>
    </div>

</div>